.app-sidebar {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.app-sidebar-header {
  display: flex;
  justify-content: center;
  padding: 25px;
}

.app-sidebar-add-entry {
  background: rgb(92, 29, 194);
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin-bottom: 1em;
  padding: 0.75em 0;
  width: 75%;
  height: 5em;
}

.app-sidebar-add-entry:hover {
  background: rgb(109, 42, 216);
}

.app-sidebar-note {
  height: calc(100vh - 78px);
  overflow-y: scroll;
}
.app-sidebar-notes {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.app-sidebar-notes button {
  background: rgb(92, 29, 194);
  border: none;
  border-radius: 7px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
  padding-inline: 8px;
  padding-block: 5px;
}

.app-sidebar-notes p {
  margin: 10px 0;
}
.app-sidebar-notes small {
  display: block;
  color: #999;
}

.app-sidebar-notes:hover {
  background: #ddd;
}
.app-sidebar-notes.active,
.app-sidebar-notes.active small {
  background: rgb(126, 69, 218);
  color: white;
}
