.diary-hub {
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(184, 35, 184, 0.075);
}

.diary-hub-heading {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 4rem;
}

/* diary card styles */

.diary-card-list {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.diary-card-container {
  position: relative;
  margin: 2rem;
  width: 300px;
  overflow: visible;
  box-shadow: 0px 0px 15px -5px;
  background-color: white;
}

.diary-card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.diary-image-container img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.diary-title {
  margin: 1rem;
}

.diary-description {
  margin: 1rem;
  font-style: italic;
}

.diary-card-button {
  margin: 1rem 5rem;
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  border: none;
  color: white;
  background-color: purple;
}

.diary-card-button:hover {
  transform: scale(1.05);
}

.diary-card-button:active {
  background-color: rgba(128, 0, 128, 0.733);
}

/* diary modal button */

.modal-popup-btn-container {
  display: flex;
  justify-content: center;
}

.diary-modal-popup-btn {
  padding: 1.3rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 6%;
  box-shadow: 0px 0px 15px -5px grey;
  color: white;
  background-color: rgb(255, 217, 0);
}

.diary-modal-popup-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px grey;
}

.diary-modal-popup-btn:active {
  background-color: rgba(255, 196, 0, 0.883);
}

/* diary edit button */
.edit-diary-btn {
  padding: 1.3rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  border: none;
  border-radius: 6%;
  box-shadow: 0px 0px 15px -5px grey;
  color: white;
  background-color: rgba(255, 123, 0, 0.924);
}

.edit-diary-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 0px grey;
}

/* diary delete button */

.delete-diary-btn {
  padding: 0.5rem 0.8rem;
  position: absolute;
  top: -20px;
  left: -20px;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  color: white;
  box-shadow: 0px 0px 15px -5px grey;
  background-color: rgba(255, 60, 0, 0.938);
}

.delete-diary-btn:active {
  background-color: rgb(255, 123, 0);
}

.delete-diary-btn-hidden {
  display: none;
}
